/* style.css */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(black, black, gold);
    text-align: center;
    margin: 20px;
    padding-bottom: 100px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background: linear-gradient(gold, gold,black, black);
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    color: white;
    border: white solid;
}
.tiulo{
    text-decoration-line: underline;
    color: black;
}

#palavraContainer {
    font-size: 1.6em;
    letter-spacing: 10px;
    margin: 20px 0;
    font-weight: bold;
    color: white;
}

input#letraInput {
    width: 40px;
    font-size: 1.2em;
    text-align: center;
}

button {
    font-size: 1.1em;
    padding: 6px 12px;
    margin-left: 8px;
    cursor: pointer;
     border: 3px solid white;
     border-radius: 10px;
     background-color: gold;
}

#mensagem {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 20px;
    min-height: 30px;
    color: white;
}

#letrasChutadas {
    font-weight: bold;
    color: white;
}
